@import '~static/fonts/roboto-fontfacekit/stylesheet.css';

* {
  font-family: Roboto;
}

html,
body,
#app,
#app > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin: 0;
}
